body {
    background-color: #540b0e;
    width: 70%;
    justify-self: center;
}

span {
    color: white;
}

/* linear-gradient(to bottom right, #faf5f2, #faf5f2, #74c69d);*/

h1 {
    justify-self: center;
    font-size: 6rem;
    font-family: "Quicksand", sans-serif;;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 1rem;
}

.image {
    width: 65%;
    height: 75vh;
    justify-self: center;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.image img {
    width: 90%;
    height: 75vh;
    mask-image: radial-gradient(circle, black 50%, transparent 100%);
    outline: none;
}

sup {
    font-size: 1.5rem;
    font-family: cursive;
    color: white;
    letter-spacing: 0;
}

.note {
    width: 35%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.note {
    color: white;
}

.image2 img{
    position: absolute;
   opacity: 0.4;
   width: 30%;
   left: 45rem;
   bottom: 2rem; 
   border-radius: 50%;
} 

.myname {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    justify-self: center;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.honor {
    font-size: 1.6rem;
    font-weight: 100;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-self: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.dept {
    font-size: 1rem;
    justify-self: center;
    padding-top: 0;
    margin-top: 0;
}

.uni {
    font-size: 1.3rem;
    font-family:"Quicksand", sans-serif;
}

.quote p {
    font-size: 1rem;
    font-family: cursive;
}

@media (min-width: 321px) and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    sup {
        font-size: 1rem;
        margin-right: 0.6rem;
        color: #335c67;
        font-family: cursive;
    }

    span {
        color: #335c67;
    }

    body {
        width: 90%;
        background: linear-gradient(to bottom right, #faf5f2, #faf5f2, #335c67);
    }

    .image {
        width: 100%;
        height: 60vh;
        margin-top: 2.5rem
    }

    .image-cont img {
        height: 60vh;
        width: 100%;
    }

    .note {
        position: relative;
    }

    .image2 img {
        left: 14rem;
        width: 50%;
        bottom: 10rem;
        position: absolute;
        opacity: 0.4;
        height: 60vh;
        border-radius: 50%;

    }

    .myname {
        font-size: 1rem;
    }

    .honor {
        font-size: 0.9rem;
        font-weight: 900;
    }

    .dept {
        font-size: 0.8rem;
        text-align: center;
        font-weight: 900;
    }
    
    .note {
        gap: 1rem;
        height: fit-content;
        color: black;
    }

    .uni p {
        font-size: 0.8rem;
        text-align: center;
    }

    .quote p{
        font-size: 0.9rem;
        text-align: center;
        font-weight: 900;
    }
}